<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Registrate</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Ya tienes una cuenta con nosotros?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Ingresar
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form class="mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm" autocomplete="off">
                <!-- Tipo de registro -->
                <mat-form-field class="w-full">
                    <mat-label>Tipo de Perfil</mat-label>
                    <mat-select id="profileType" [formControlName]="'profileType'">
                        <mat-option value="empresa">Empresa</mat-option>
                        <mat-option value="emprendedor">Emprendedor</mat-option>
                    </mat-select>
                    <mat-error *ngIf="signUpForm.get('profileType').hasError('required')">
                        Tipo de perfil es requerido
                    </mat-error>
                </mat-form-field>

                <div *ngIf="signUpForm.controls.profileType.value === 'empresa'">
                    <!-- Identification field -->
                    <mat-form-field class="w-full">
                        <mat-label>Nit</mat-label>
                        <input matInput type="number" id="numberIdentification"
                            [formControlName]="'numberIdentification'">
                        <mat-error *ngIf="signUpForm.get('numberIdentification').hasError('required')">
                            Nit es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div *ngIf="signUpForm.controls.profileType.value === 'emprendedor'">
                    <mat-form-field class="w-full">
                        <mat-label>Tipo de identificación</mat-label>
                        <mat-select id="documentType" [formControlName]="'documentType'">
                            <mat-option value="cc">Cedula de ciudadania</mat-option>
                        </mat-select>
                        <mat-error *ngIf="signUpForm.get('profileType').hasError('required')">
                            Campo tipo de identificación
                        </mat-error>
                    </mat-form-field>
                    <!-- Identification field -->
                    <mat-form-field class="w-full">
                        <mat-label>Numero de identificación</mat-label>
                        <input matInput type="number" id="numberIdentification"
                            [formControlName]="'numberIdentification'">
                        <mat-error *ngIf="signUpForm.get('numberIdentification').hasError('required')">
                            Campo Numero de identificación es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Name complete field -->
                <mat-form-field class="w-full">
                    <mat-label>Nombres completos</mat-label>
                    <input id="name" matInput [formControlName]="'name'">
                    <mat-error *ngIf="signUpForm.get('name').hasError('required')">
                        Campo Nombre es requerido
                    </mat-error>
                </mat-form-field>

                <!-- Apellidos field -->
                <mat-form-field class="w-full">
                    <mat-label>Apellidos</mat-label>
                    <input id="surnames" matInput [formControlName]="'surnames'" autocomplete="off">
                    <mat-error *ngIf="signUpForm.get('surnames').hasError('required')">
                        Campo Apellidos es requerido
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Correo electronico</mat-label>
                    <input id="email" matInput [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        Campo correo electronico es requerido
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        Campo correo electronico es invalido
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField
                        autocomplete="new-password">
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error>
                        Campo contraseña es requerido
                    </mat-error>
                </mat-form-field>

                <!-- ToS and PP -->
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'agreements'">
                        <span>Estoy de acuerdo con</span>
                        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Terminos
                        </a>
                        <span>y</span>
                        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Politicas de privacidad
                        </a>
                    </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button type="submit" class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="signUpForm.disabled" (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Registrar
                    </span>
                    <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Hola! Gracias por estar aquí</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                Bienvenido a Genesis: la plataforma de citas para profesionales. Conecta con personas afines, haz crecer tu
                red profesional y encuentra relaciones significativas. ¡Empieza a conectar hoy mismo!
            </div>
        </div>
    </div>
</div>
